<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
Portafolio Personal
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://scontent.fctg1-3.fna.fbcdn.net/v/t1.6435-9/120471579_10214200327481345_1915593606692935969_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=5c8p20uBdocAX_nW0Ir&_nc_ht=scontent.fctg1-3.fna&oh=006fd591fb595571ee19e6eacb0e2e2b&oe=60FC63BD" />

      <h4 class="name">Manuel Andrade</h4>
      <p class="designation">Ingeniero de sistemas </p>
      <p class="designation">En curso (8º)</p>
      

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>

  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
          Main content here!
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>