<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
Vacunaciones
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Marca_alternativa_upc.png/220px-Marca_alternativa_upc.png" />

      <h4 class="name">Manuel Andrade</h4>
      <h4 class="name">Jesus Montero</h4>
      <p class="designation">Ingenieros de sistemas </p>
     
      

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
      </button>
      
      <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>

  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
 
            <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=81ff1d93-37b3-4b2c-a0b9-3d32df3f98e4&autoAuth=true&ctid=e2bf1c48-1dae-47ba-9808-67da61e2588d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
            <main>
                <!-- Landing Area -->
                <div id="landing">
                  <div id="landing-text">
                    <div id="landing-text-inner">
                      <h1>Acme Photography</h1>
                      <h2>Beautiful Natural Photography</h2>
                      <a href="#images" class="btn" id="view-work">
                        View Work
                      </a>
                    </div>
                  </div>
                  <div id="landing-image"></div>
                </div>
            
                <div id="images">
                  <div id="header">
                    <h2>Our Work</h2>
                  </div>
            
                  <img src="https://source.unsplash.com/1600x900/?nature,water" alt="">
                  <div class="caption">
                    <h3>Photo One</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.</p>
                  </div>
                  <img src="https://source.unsplash.com/1600x900/?nature,trees" alt="">
                  <div class="caption">
                    <h3>Photo Two</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.</p>
                  </div>
                  <img src="https://source.unsplash.com/1600x900/?nature,flowers" alt="">
                  <div class="caption">
                    <h3>Photo Three</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.</p>
                  </div>
                  <img src="https://source.unsplash.com/1600x900/?nature,animals" alt="">
                  <div class="caption">
                    <h3>Photo Four</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.</p>
                  </div>
                  <img src="https://source.unsplash.com/1600x900/?nature,clouds" alt="">
                  <div class="caption">
                    <h3>Photo Five</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tenetur.</p>
                  </div>
                </div>
              </main>
            
              <footer>
                <h3>Get In Touch</h3>
                <p>Email or call us to set up a consult</p>
                <p>Email:
                  <strong>contact@acmephotos.test</strong>
                </p>
                <p>Phone:
                  <strong>(617) 555-5555</strong>
                </p>
              </footer>
     
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>